<form #loginForm="ngForm"  (ngSubmit)="login(loginForm)">
  <div class="center">
    <div fxLayout="row" fxLayoutAlign.gt-sm="center center">
      <div fxLayout="column" fxLayoutGap="20px" fxFlex.gt-sm="30">
        <div align="center">
          <h1>Login</h1>
        </div>
        <div fxLayout="row" fxLayoutGap="15px" fxFlex.lt-sm="100">
          <div><span>Username</span></div>
          <input fxFlex="100" required name="username" type="text" ngModel #username="ngModel" />
        </div>
        <div fxLayout="row" fxLayoutGap="15px" fxFlex.lt-sm="100">
          <div><span>Password</span></div>
          <input fxFlex="100" required name="password" type="password" ngModel #password="ngModel"/>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-flat-button fxFlex="30" [disabled]="loginForm.invalid">Login</button>
          <span fxFlex="10"></span>
          <div>
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- {{result |async|json}} -->
